
body {
  padding: 0;
}

.body-dark {
  background-color: #2E2E2E;
  
}
.body-dark h1 {
  color: #E6E6E6;
}
.body-dark table {
  background-color: #A4A4A4;
}

.body-dark .panel {
  background-color: #424242;
}
.body-dark .panel .panel-heading {
  background-color: #8A0829;
}
.body-dark table thead {
  background-color: #848484;
}



.body-light {
  background-color: #FFF;
}

.panel-heading {
  height: 55px;
}

.panel-heading button {
  background: #FFF;
  color: blue;
}

.form-group .alert {
  margin-top: 10px;
}



