<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">



  <title>Angular JS CRUD</title>
</head>
<body ng-class="classBody" ng-controller="LSController">

  <div >
      <button type="button" ng-click="toggleClass()">Turn {{onOff}} the ligth!</button>
  </div>
  
<div  ng-controller="CRUDController">
  <div class="container">
    <h1>Angular JS CRUD</h1>
    	
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Employees</h3>
                
                <div class="pull-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">
                CREATE
              </button>
            </div>
          </div>
          
        <div class="panel-body"> 
          <!-- Table with the employees -->
				
					<table class="table table-hover" id="dev-table">
              <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Action</th>
              </thead>
              <tbody>
              <tr ng-repeat="Emp in EmpList">
                <td>{{Emp.Id}}</td>
                <td>{{Emp.Name}}</td>
                <td>{{Emp.Salary}}</td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalUpdate" ng-click="BindSelectedData(Emp)">
                        UPDATE
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete" ng-click="BindEmptoDelete(Emp)">
                        DELETE
                    </button>
                </td>
              </tr>
              </tbody>
          </table>
          </div>
      </div>
	</div>
	
	

      <!-- The Modal ADD-->
      <div class="modal fade" id="myModalAdd">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add new Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <form name="form" novalidate>
                    <div class="form-group">
                        <label for="Employee Name">Name</label> 
                          <input class="form-control" type="text" name="name" ng-model="Name" required>
                    </div>
                    <div class="form-group" ng-show="form.name.$touched">
                        <span class="alert alert-danger" ng-show="form.name.$error.required">Name is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="Employee Salary">Salary</label>
                        <input class="form-control" type="number" name="salary" ng-model="Salary" required>
                    </div>
                    <div class="form-group" ng-show="form.salary.$touched">
                        <span class="alert alert-danger" ng-show="form.salary.$error.required">Salary is required.</span>
                    </div>
                    
                    <input class="btn btn-success" type="button" ng-click="AddData()" value="Save Data"
                            ng-disabled="form.name.$invalid || form.salary.$invalid ">      
                  </form>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>


        <!-- The Modal Delete   -->
      <div class="modal fade" id="myModalDelete">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                  <h3>Are you sure to delete employee?</h3>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="DeleteData()" value="Delete Data">YES</button>
              </div>
              
            </div>
          </div>
        </div>

        <!-- The Modal Update   -->
      <div class="modal fade" id="myModalUpdate">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Update Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <table>
                    <tr>
                      <td>
                        ID
                      </td>
                      <td>
                        {{Id}}
                      </td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><input type="text" ng-model="Name"></td>
                    </tr>
                    <tr>
                      <td>Salary</td>
                      <td><input type="number" ng-model="Salary"></td>
                    </tr>
                    
                  </table>

              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ClearModel()">CANCEL</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="UpdateData()" value="Update Data">UPDATE</button>
               </div>
              
            </div>
          </div>
        </div>
  </div>
  
  <script  src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>

  <script src="scripts/services/service.js"></script>
  <script src="scripts/controllers/controller.js"></script>

  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
</body>
</html>