<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

  <script  src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="scripts/controllers/controller.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <title>Angular JS CRUD</title>
</head>
<body>




        <div class="panel panel-primary">
                <!-- Default panel header contents -->
                <div class="panel-heading">
                <h4 class="panel-title">
                <div class="pull-left">
                <h4 class="panel-title"> <i class="glyphicon glyphicon-user"></i>
                Users
                </h4>
                </div>
                <div class="header-center">
                <pagination class="panel-title" ng-show="totalItems > pageParameters.size" items-per-page="pageParameters.size" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="changePage()"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
                <div class="pull-right">
                <span class="panel-title btn-group">
                <button ng-disabled="underCreation" type="button" class="btn btn-default btn-sm" ng-click="addUser()">
                <span class="glyphicon glyphicon-plus text-primary"></span>
                <span class="text-primary"><strong>Add</strong></span>
                </button>
                </span>
                </div>
                </h4>
                <div class="clearfix"></div>
                </div>
                </div>















    </body>
    </html>